<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Arduino_ID" value="1"/>
    
    <!-- COM Port Details -->
    <add key="COM_Port" value="COM3"/>
    <add key="COM_BaudRate" value="9600"/>
    <add key="COM_SendDTR" value="True"/>

    <!-- Logging Details -->
    <add key="Log_ToDatabase" value="True"/>
    <add key="Log_ToFile" value="True"/>
    <add key="Log_FileName" value="./ArduinoMonitor.log"/>
    <add key="Log_Initialize_Wait_s" value="10"/>
    <add key="Log_Interval_s" value="60"/>

    <!-- Threshold Details -->
    <add key="Check_Interval_s" value="10"/>
    <add key="Low_Threshold" value="62.0"/>
    <add key="Low_TempUnit" value="Fahrenheit"/>
    <add key="High_Threshold" value="80.0"/>
    <add key="High_TempUnit" value="Fahrenheit"/>

    <!-- Email Details -->
    <add key="Email_Enable" value="True"/>
    <add key="Email_From" value=""/>
    <add key="Email_Recipients" value=""/>
    <add key="Email_Hysteresis_m" value="5"/>
    <add key="Email_SMTP_Server" value="localhost"/>
    <add key="Email_SMTP_Port" value="25"/>
    <add key="Email_RetryOnFailure" value="False"/>
  </appSettings>
  <connectionStrings>
    <add name="ArduinoMonitor" connectionString="Data Source=localhost;Initial Catalog=ArduinoMonitor;User ID=ArduinoMonitor;Password=password;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
