<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Email_Enable"         value="True"                xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Email_From"           value="no_reply@resdat.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Email_Recipients"     
         value="RDI Twin Cites (RDI_TwinCities@resdat.com)" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Email_SMTP_Server"    value="smtp2.resdat.com"    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Email_SMTP_Port"      value="25"                  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Email_RetryOnFailure" value="False"               xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="ArduinoMonitor"
      connectionString="Provider=sqloledb;Data Source=MSP-SQLSERVER;Initial Catalog=ArduinoMonitor;User ID=ArduinoMonitor;Password=mongo;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>