
<div class="jumbotron">
    <h2>API Summary</h2>
    <p style="font-size:18px;text-align:center;">These endpoints can return either json or xml, chosen automatically or forced by adding `?type=xml` or `?type=json`</p>
</div>

<section>
    <h3>Sensor Data</h3>

    <div class="row">
        <a href="/api/last" class="btn btn-primary">Sensor Data - Last &raquo;</a> View the last Sensor Data - the last 60 readings (optional: number of readings to return)
    </div>

    <div class="row">
        <a href="/api/recent" class="btn btn-primary">Sensor Data - Recent &raquo;</a> View the most recent Sensor Data - data within the last 60 minutes, if any (optional: minutes of readings to return)
    </div>

    <div class="row">
        <a href="/api/current" class="btn btn-primary">Sensor Data - Current &raquo;</a> View the current Sensor Data - data from the last 60 minutes, with empty (optional: minutes of readings to return)
    </div>
</section>


<section>
    <h3>Events</h3>

    <div class="row">
        <a href="/api/eventlast" class="btn btn-primary">Events - Last &raquo;</a> View the last Events (optional: number of events to return)
    </div>

    <div class="row">
        <a href="/api/eventrecent" class="btn btn-primary">Events - Recent &raquo;</a> View the most recent Events (optional: minutes of events to return)
    </div>
</section>


<section>
    <h3>Arduinos</h3>

    <div class="row">
        <a href="/api/arduinos" class="btn btn-primary">Arduinos - View &raquo;</a> View the Arduinos in the system (optional: specific Arduino ID)
    </div>
</section>
