
<section id="graph">

</section>

<section id="tabledata" style="padding-top:15px;">
    <table id="data" class="display" style="width:100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Arduino</th>
                <th>Elapsed Minutes</th>
                <th>Year</th>
                <th>Date</th>
                <th>Celsius</th>
                <th>Fahrenheit</th>
                <th>Humidity</th>
                <th>Light</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        </tfoot>
    </table>
</section>

@section scripts {
    <script type="text/javascript">
        var currentData = [];
        var datatable;

        function refreshData() {
            datatable.ajax.reload();
            $("label#refreshTime").html(formatDate(new Date()));
        }

        $(document).ready(function () {
            datatable = $('#data')
                .on('xhr.dt', function (e, settings, json, xhr) {
                    currentData = json;
                })
                .DataTable({
                    processing: true,
                    ajax: {
                        url: "/api/last/@ViewBag.Count",
                        dataSrc: ""
                    },
                    columns: [
                        { data: 'ID', visible: false },
                        { data: 'ArduinoID', visible: false },
                        { data: 'ElapsedMinutes' },
                        { data: 'Year', visible: false },
                        {
                            data: 'Date',
                            render: function (data) { return formatDateNoYear(new Date(data).addHours(@ViewBag.TimeZoneOffset)); }
                        },
                        {
                            data: 'TempCelsius',
                            render: function (data) { return isNull(data) ? "--" : data + "°"; }
                        },
                        {
                            data: 'TempFahrenheit',
                            render: function (data) { return isNull(data) ? "--" : data + "°"; }
                        },
                        {
                            data: 'Humidity',
                            render: function (data) { return isNull(data) ? "--" : data + "%"; }
                        },
                        {
                            data: 'Light',
                            render: function (data) { return isNull(data) ? "--" : data + "%"; }
                        }
                    ],
                    order: [[2, "asc"]]
                });
            $('<button id="refresh" onclick="refreshData()" style="margin-left:20px" class="btn btn-primary btn-sm">Refresh</button>').appendTo('div.dataTables_length');
        });
    </script>
}
