<div id="myTable">
    <table id="sensorData" class="display" width="100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Temp C</th>
            <th>Temp F</th>
            <th>Humidity %</th>
            <th>Light %</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sensorData').DataTable();
    });
</script>
