
<section id="graph"></section>

<section id="tabledata" style="padding-top:15px;">
    <table id="data" class="display" style="width:100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Arduino</th>
                <th>Elapsed Minutes</th>
                <th>Year</th>
                <th>Date</th>
                <th>Celsius</th>
                <th>Fahrenheit</th>
                <th>Humidity</th>
                <th>Light</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        </tfoot>
    </table>
</section>

@section scripts {
    <script type="text/javascript">
        var currentData = [];

        $(document).ready(function () {
            var datatable = $('#data')
                .on('xhr.dt', function (e, settings, json, xhr) {
                    currentData = json;
                })
                .DataTable({
                    processing: true,
                    ajax: {
                        url: "/api/last/60",
                        dataSrc: ""
                    },
                    columns: [
                        { data: 'ID', visible: false },
                        { data: 'ArduinoID', visible: false },
                        { data: 'ElapsedMinutes' },
                        { data: 'Year', visible: false },
                        {
                            data: 'Date',
                            render: function (data) { return formatDateNoYear(new Date(data)); }
                        },
                        { data: 'TempCelsius' },
                        { data: 'TempFahrenheit' },
                        { data: 'Humidity' },
                        { data: 'Light' }
                    ],
                    order: [[2, "asc"]]
                });
        });
    </script>
}
